@tailwind base;

@tailwind components;

@tailwind utilities;


/* ------------------ 
    Custom classes
-----------------*/

.-ml-18 {
    margin-left: -4.5rem;
}

/* Custom progress bar */
progress {
    border-radius: 1rem;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 1rem;
}

progress::-webkit-progress-value {
    background-color: #4299e1;
    border-radius: 1rem;
}
